@model WebApplication2.Models.ViewModels.TransRealViewModel
@{
    ViewBag.Title = "Agregar Transaccion";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";


    string sidLB = ViewBag.id_lb + "";
    int idLB = ViewBag.id_lb;
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewBag.Title al libro @ViewBag.id_lb</h1><br />

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Todos los campos con * deben ser rellenados</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @using (Html.BeginForm("Add", "TransReal", FormMethod.Post, new { role = "form", @class = "" }))
                {
                    @Html.AntiForgeryToken() /*atributo de seguridad helper, no hagan peticiones de fuera*/

                    @Html.ValidationMessage("error", new { @class = "text-danger" })


                    @Html.LabelFor(d => d.lib_id)
                    @Html.Label("*")
                    //@Html.TextBoxFor(d => d.usu_id, @sidP)<br />
                    @Html.TextBoxFor(d => d.lib_id, new { @Value = @sidLB, @class = "form-control" })<br />


                    @Html.LabelFor(d => d.tipo)
                    @Html.Label("*")
                    @Html.DropDownListFor(d => d.tipo, (List<SelectListItem>)ViewBag.opc_tipo, new { @class = "form-control", @required = "required" })<br />

                    @Html.LabelFor(d => d.rub_id)
                    @Html.Label("*")
                    @Html.DropDownListFor(d => d.rub_id, (List<SelectListItem>)ViewBag.opc_rubro, new { @class = "form-control", @required = "required" })<br />

                    @Html.LabelFor(d => d.fecha)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.fecha, new { @type = "date", @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.subtotal)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.subtotal, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.impuesto)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.impuesto, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.total)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.total, new { @class = "form-control", @required = "required" })


                    <br />
                    <div align="right">
                        <input type="submit" class="btn btn-success" value="Guardar" />
                    </div>
                }
            </div>
        </div>
    </div>

</div>