@model List<WebApplication2.Models.TableViewModels.DetLBTableViewModel>
@{
    ViewBag.Title = "Detalle Libro Contable";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";


    int i = 1;

    int vid_lb = ViewBag.id_lb;
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">

        <a href="@Url.Action("Add", "TransReal",new { id = vid_lb })" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Nueva Transaccion</a>

        <div align="right">
            <a href="@Url.Action("Export","TransReal")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Exportar a excel</a>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Transacciones del Libro Contable</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Rubro</th>
                            <th>Fecha</th>
                            <th>Subtotal</th>
                            <th>Impuesto</th>
                            <th>Total</th>
                            <th>Factura</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Rubro</th>
                            <th>Fecha</th>
                            <th>Subtotal</th>
                            <th>Impuesto</th>
                            <th>Total</th>
                            <th>Factura</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var oElemento in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@oElemento.tipo_nombre</td>
                                <td>@oElemento.rubro_nombre</td>
                                <td>@oElemento.fecha</td>
                                <td>@oElemento.subtotal</td>
                                <td>@oElemento.impuesto</td>
                                <td>@oElemento.total</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(oElemento.ImageFile))
                                    {
                                        <img src="@Url.Content(oElemento.ImageFile)" alt="Image" style="width:100px; height:150px; max-width:100%;height:auto;"/>
                                    }
                                </td>
                                <td>
                                    <div class="d-sm-flex align-items-center">
                                        <a href="@Url.Action("Edit", "TransReal",new { id = oElemento.tra_id })" class="btn btn-warning btn-circle">
                                            <i class="fas fa-fw fa-edit"></i>
                                        </a>
                                        &nbsp;&nbsp;
                                        <a href="javascript:jsDelete(@oElemento.id_reg_det_lib);" class="btn btn-danger btn-circle">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

