@model WebApplication2.Models.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Agregar Usuario";
    
    if (ViewBag.rol == 1)
    {
        //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    }
    else if (ViewBag.rol == 2)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}



<div class="container-fluid">
    
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1><br />
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Todos los campos con * deben ser rellenados</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @using (Html.BeginForm("Add", "Usuario", FormMethod.Post, new { role = "form", @class = "" }))
                {
                    @Html.AntiForgeryToken() /*atributo de seguridad helper, no hagan peticiones de fuera*/

                    @Html.ValidationMessage("error", new { @class = "text-danger" })

                    @Html.LabelFor(d => d.nombre_usuario)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.nombre_usuario, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.password)
                    @Html.Label("*")
                    @Html.PasswordFor(d => d.password, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.confirmPassword)
                    @Html.Label("*")
                    @Html.PasswordFor(d => d.confirmPassword, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(d => d.confirmPassword, "", new { @class = "text-danger" }) <br />

                    @Html.LabelFor(d => d.rol_id)
                    @Html.Label("*")
                    @Html.DropDownListFor(d => d.rol_id, (List<SelectListItem>)ViewBag.opc_rol, new { @class = "form-control", @required = "required" })<br />

                    @*
                        @Html.LabelFor(d => d.per_id)
                        @Html.Label("*")
                        @Html.DropDownListFor(d => d.per_id, new SelectList(new string[] {
                        "Lectura y Escritura", "Escritura", "Lectura", "Ninguno" }, "Lectura y Escritura"), htmlAttributes: new { @class = "form-control", @required = "required" })<br />
                    *@

                    @Html.LabelFor(d => d.nombre)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.nombre, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.apellido)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.apellido, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.cedula)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.cedula, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.ruc)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.ruc, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.direccion)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.direccion, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.telefono)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.telefono, new { @class = "form-control", @required = "required" })

                    @Html.LabelFor(d => d.email)
                    @Html.Label("*")
                    @Html.TextBoxFor(d => d.email, new { @type = "email", @class = "form-control", @required = "required" })

                    <br />
                    <div align="right">
                        <input type="submit" class="btn btn-success" value="Guardar" />
                    </div>
                }
            </div>
        </div>
    </div>
    
</div>


