@model List<WebApplication2.Models.TableViewModels.UsuarioTableViewModel>
@{
    ViewBag.Title = "Registro de Usuarios";
    /*
    if (ViewBag.rol == 1)
    {
        //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    }
    else if (ViewBag.rol == 2)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*/

    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}


<div class="container-fluid">

    <div>
        <img src="@Url.Content("~/img/logo_Workcontable.png")" />
    </div>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        
        <a href="@Url.Action("Add", "Usuario")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Nuevo</a>

        <div align="right">
            <a href="@Url.Action("Export","Usuario")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Exportar a excel</a>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Registro de Usuarios</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Rol</th>
                            <th>Permisos</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cedula</th>
                            <th>Ruc</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Username</th>
                            <th>Rol</th>
                            <th>Permisos</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cedula</th>
                            <th>Ruc</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var oElemento in Model)
                        {
                            <tr>
                                <td>@oElemento.nombre_usuario</td>
                                <td>@oElemento.rol_id</td>
                                <td>
                                    <a href="@Url.Action("Index", "RolOperacion",new { id = oElemento.id_usuario })" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                        <i class="fas fa-fw fa-eye"></i>
                                    </a>
                                </td>
                                <td>@oElemento.nombre</td>
                                <td>@oElemento.apellido</td>
                                <td>@oElemento.cedula</td>
                                <td>@oElemento.ruc</td>
                                <td>@oElemento.direccion</td>
                                <td>@oElemento.telefono</td>
                                <td>@oElemento.email</td>
                                <td>
                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                        <a href="@Url.Action("Edit", "Usuario",new { id = oElemento.id_usuario })" class="btn btn-warning btn-circle">
                                            <i class="fas fa-fw fa-user-edit"></i>
                                        </a>
                                        &nbsp;&nbsp;
                                        <div align="right">
                                            <a href="javascript:jsDelete(@oElemento.id_usuario);" class="btn btn-danger btn-circle">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        Usuario: @ViewBag.nombreUsuario
        <br />
        Fecha:@DateTime.Now;
    </div>

</div>





<script>
    function jsDelete(id) {
        if(confirm("Seguro que desea eliminarlo?")){
            url = "@Url.Content("~/Usuario/Delete")" + "/"+id;
            $.post(url, function (data) {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/Usuario/")";
                } else {
                    alert("ocurrio un error");
                }
            });
        }
    }
</script>